@{
    ViewData["Title"] = "Contact Manager";
}
@model List<Contact>
<div>
    <a asp-controller="Contact" asp-action="Add" class="btn btn-outline-success">Add Contact</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
			<th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td><a asp-controller="Contact" asp-action="Detail" asp-route-id="@contact.ContactId" class="btn btn-outline-dark">@contact.FirstName</a></td>
                <td><a asp-controller="Contact" asp-action="Detail" asp-route-id="@contact.ContactId" class="btn btn-outline-dark">@contact.LastName</a></td>
                <td>@contact.Email</td>
                <td>@contact.Phone</td>
                <td>@contact.Categories.CategoryName</td>
                <td>
                    <a asp-controller="Contact" asp-action="Edit" asp-route-id="@contact.ContactId" asp-route-slug="@contact.Slug" class="btn btn-outline-warning bg-dark shadow">Edit</a>
                    <a asp-controller="Contact" asp-action="Delete" asp-route-id="@contact.ContactId" asp-route-slug="@contact.Slug" class="btn btn-outline-danger bg-dark shadow">Delete</a>
                </td>
            </tr>
        }
	</tbody>
</table>


