@model ShoppingCartViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Shopping Cart";
}
<h1>Your Shopping Cart</h1>
<h3 class="text-warning bg-dark">@ViewBag.CartMessage</h3>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.Product.Slug</td>
                <td>@item.Product.ProductPrice?.ToString("C")</td>
                <td>@item.Quantity</td>
                <td>@((item.Product.ProductPrice* item.Quantity)?.ToString("C"))</td>
                <td >
					<a asp-action="RemoveItem" asp-route-id="@item.Product.ProductId" class="btn btn-danger btn-sm">Remove</a>
                    <input type="hidden" name="productId" value="@item.Product.ProductId" />
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-end"><strong>Total:</strong></td>
            <td colspan="2">@Model.TotalPrice?.ToString("C")</td>
        </tr>
	</tfoot>
</table>
<form asp-action="PurchaseItems" method="post">
	<button type="submit" class="btn btn-success">Purchase Items</button>
</form>
