@model List<Item>;
@{
	ViewData["Title"] = "Manage Items";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Sizes</th>
			<th>Category</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.Description</td>
				<td>
					@foreach (var itemSize in ViewBag.ItemSizes)
					{
						// Show only sizes that belong to the current item
						if (itemSize.Size != null && itemSize.ItemId == item.ItemId)
						{
							<span>(@itemSize.Size.Name - $@itemSize.Price.ToString("C"))</span>
						}
					}
				</td>
				<td>@item.Category.Name</td>
				<td>
					<a asp-controller="Employee" asp-action="Edit" asp-route-id="@item.ItemId" asp-route-edit="@item.Slug" class="btn btn-sm btn-primary">Edit</a>
					<a asp-controller="Employee" asp-action="Delete" asp-route-id="@item.ItemId" asp-route-delete="@item.Slug" class="btn btn-sm btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="8">
				<a asp-controller="Employee" asp-action="Add" class="btn btn-success">Add New Product</a>
			</td>
		</tr>
</table>
